html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}

.wrapper {
    overflow-x: scroll;
    margin: 10px;
}

table{
    width: 100%;
    text-align: left;
    /* overflow: hidden; */
}

td, th {
    padding: 5px;
}

.product-heading{
    vertical-align: top;
}

.product-heading .content{
    height: 100px;
}

.product-heading img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: center;
    display: block;
}

.product-heading span {
    margin-top: 5px;
    width: 200px;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.data-heading-row {
    position: relative;
}

.data-heading {
    align-items: center;
    position: sticky;
    left: 0;
    padding: 0 !important;
    color: rgb(133, 133, 133);
    font-size: small;
    z-index: 1;
}
  
.data-heading-row::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ccc;
}